
  body {
    background-color: #cc0;
    margin: 0;
    padding: 20px;
  }
  h1, p{
    color: white;
    text-align: center;
  }
  .secondary-header{
    color:green;
    font-size: 48px;
  }
  .imageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .button a{
      text-decoration: none;
      color: green;
      border: 2px solid green;
      display: block;
      font-size: 30px;
      text-align: center;
  }
